body{
  background: linear-gradient(bisque, aliceblue);
  margin:0px;
}

header h1{
  font-size:50px;
  text-align: center;
  background-color: inherit;  
  text-shadow:2px 2px white;
  color:black;
  font-family: 'Permanent Marker', cursive;
}

header ul{
  text-align: center;
  margin-bottom:0px;
  padding-bottom:0px;
}

header li{
  font-size:30px;
  list-style-type: none;
  padding:0 2%;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  display:inline-block;
}

header p{
  padding:20px;
  font-size: 20px;
  font-family:cursive;
}

article{
  text-align: center;
}

.list{
  margin-top:0px
}

article li:nth-child(odd){
  text-shadow: 3px 3px white;
}

article img:nth-child(even){
  border:2px solid blue;
}

article img:nth-child(odd){
  border: 2px solid black;
}

.list li{
  list-style-type: none;
  display:inline-block;
  padding:1rem;
  font-family: 'Bree Serif', serif;
}

#seattleImg{
  display:inline-block;
  height:300px;
  width:500px;
}

#kingstonImg{
  display:inline-block;
  height:300px;
  width:500px;
}

#moscowImg{
  display:inline-block;
  height:300px;
  width:500px;
}

#homeImg{
  display:inline-block;
  height:300px;
  width:500px;
}

#cdaImg{
  display:inline-block;
  height:300px;
  width:500px;
}

#chicagoImg{
  display:inline-block;
  height:300px;
  width:500px;
  transition: border-radius 1s;
}

#chicagoImg:hover{
  border-radius:400px;
}

#schools img{
  height: 300px;
  width:300px;
}

#depaulImg{
  border-radius:0px;
  transition:border-radius 1s;
}

#depaulImg:hover{
  border-radius:400px;
}

#owImg{
  display:inline-block;
  height:300px;
  width:500px;
  transition: border 1s;
}

#owImg:hover{
  border:30px solid black;
}

#smashImg{
  display:inline-block;
  height:300px;
  width:500px;
}

#pingImg{
  display:inline-block;
  height:300px;
  width:500px;
}

#tennisImg{
  display:inline-block;
  height:300px;
  width:500px;
}

#wheelImg{
  display:inline-block;
  height:300px;
  width:500px;
}

#pokeImg{
  display:inline-block;
  height:300px;
  width:500px;
}

h1 {
  font-size: 55px;
  color: ghostwhite;
  padding:5px;
  margin-top:25px;
  background-color:darkgrey;
  text-align:center;
  font-family: 'Bree Serif', serif;
}

h3{
  font-size: 38px;
  font-family: 'Bree Serif', serif;
  color:crimson;
  margin-bottom:0px;
}

a{
  color:orange;
  text-decoration:none;
}

a:hover{
  color:dodgerblue;
  text-shadow: 2px 2px white;
}

p{
  font-size:20px;
  margin-left:20px;
  font-family: 'Bree Serif', serif;
}

.projectLists li{
  list-style-type: none;
  font-family: 'Bree Serif', serif;
}

.projectLists img{
  height:300px;
  width:500px;
}

#kittyImg{
  height:400px;
  width:400px;
}

h1 i{
  padding:5px;
}


footer{
  text-align:center;
  padding:10px;
  font-style:italic;
}
